{% extends "base.html" %}

{% block content %}
  {{ block.super }}

<!--&nbsp;&nbsp;<button style="border-radius: 3px; border-width: thin;" sty><a style="color:black" href="/order/edit/{{order.pk}}">Back</a></button>-->
<!--&nbsp;&nbsp;<button style="border-radius: 3px; border-width: thin;" sty><a style="color:black" onClick="javascript:history.go(-1);">Back</a></button>-->

<body class="sidebar-mini theme-green">
 <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Audit View</h4>
                </div>
                <div class="card-body">
                    <h4 style="font-weight: bold;" class="card-title">ORDER : {{order.mls_id}}</h4>
                    <hr>
                    <ul>
                        {% for changed_field in changed_fields %}
                        <li><i class="material-icons">library_books</i><a style="font-weight: bold;" class="text-success" href="{% url 'audit_detailed_view' pk=changed_field.id %}">&nbsp;&nbsp;&nbsp;VIEW</a></li>
                        <h6>Updated By : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.username}} </h6>
                        <h6>Updated At : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{changed_field.datetime}} </h6>
                        <h6>Updated Fields :&nbsp;&nbsp;{{ changed_field.changed_fields }}</h6>
                        <br>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
          </div>
  {% endblock %}