{% extends "base.html" %}

{% block content %}
  {{ block.super }}
            &nbsp;&nbsp; <button class="btn btn-success"><a style="color:white" onClick="javascript:history.go(-1);">Back</a></button>
<!--&nbsp;&nbsp;<button style="border-radius: 3px; border-width: thin;" sty><a style="color:black" onClick="javascript:history.go(-1);">Back</a></button>-->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Detailed Audit View</h4>
                </div>
<!--                  <div class="card-body">-->
<!--                    <h4 style="font-weight: bold;" class="card-title">ORDER : {{order.mls_id}}</h4>-->
<!--                    <hr>-->
<!--                  </div>-->
                  <div class="material-datatables">
                      <br>
                    <table id="" class="table-show-readmore compact hover row-border stripe" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 380px;">Updated Fields</th>
                            <th style="width: 350px;">Old Data</th>
                            <th>New Data</th>
                            <th></th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for audit_object in audit_objects %}
                          <tr>
                              <td></td>
                              <td>{{audit_object.field}}</td>
                              <td>{{audit_object.old_value}}</td>
                              <td>{{audit_object.new_value}}</td>
                              <td></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
{% endblock %}
