<!--
=========================================================
Material Dashboard PRO - v2.2.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard-pro
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Assured Close
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />
  <link href="{% static 'css/custom_theme.css' %}" rel="stylesheet" />
   <script src="{% static 'js/plugins/dropzone.min.js' %}"></script>
</head>

<body class="sidebar-mini">
  <div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="black" data-image="{% static 'img/sidebar-1.jpg' %}" >
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="{% url 'orders' %}" class="simple-text logo-mini">
          AC
        </a>
        <a href="{% url 'orders' %}" class="simple-text logo-normal">
          Assured Close
        </a>
      </div>
      <div class="sidebar-wrapper">
<!--        Profile start-->
        <div class="user">
          <div class="photo">
            {% if user.profile_photo %}
            <img class="img" src="{{user.profile_photo.url}}" alt="Profile Picture" />
            {% else %}
            <img src="{% static 'img/default-avatar.png' %}" alt="My image">
            {% endif %}
          </div>
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                {{ user.first_name }} {{ user.last_name }}
                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                {% if user.user_type == 'agent' %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'agent_profile' %}">
                    <span class="sidebar-mini"> MP </span>
                    <span class="sidebar-normal"> My Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'agent_profile_edit' %}">
                    <span class="sidebar-mini"> EP </span>
                    <span class="sidebar-normal"> Edit Profile </span>
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customer_profile' %}">
                    <span class="sidebar-mini"> MP </span>
                    <span class="sidebar-normal"> My Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customer_profile_edit' %}">
                    <span class="sidebar-mini"> EP </span>
                    <span class="sidebar-normal"> Edit Profile </span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
<!--        Profile end-->

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orders' %}">
              <i class="material-icons">home</i>
              <p>Orders</p>
            </a>
          </li>

         {% if user.user_type == 'agent' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customer_or_agent_list' %}">
              <i class="material-icons">people</i>
              <p>Customers</p>
            </a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'customer_agent_logout' %}">
              <i class="material-icons">logout</i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-background"></div>
    </div>
    <div class="main-panel">
<!--       Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
<!--                  <div class="user">-->
<!--                    <div class="photo">-->
<!--                  <img class="img" width="35px", height="40px" src="" alt="Profile Picture" />-->
<!--                  </div>-->
<!--                  </div>-->
                    <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  {% if user.user_type == 'agent' %}
                  <a class="dropdown-item" href="{% url 'agent_profile' %}">{{ user.username }}</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'customer_profile' %}">{{ user.username }}</a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'customer_agent_logout' %}">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<!--       End Navbar -->
      <div class="content">
        <div class="container-fluid">

          {% block content %}
          {% endblock %}

        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, <a style="color:black" href="#" target="_blank">Assured Close, Inc.</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
  <!-- Plugin for the momentJs  -->
  <script src="{% static 'js/plugins/moment.min.js' %}">></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static 'js/plugins/sweetalert2.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static 'js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static 'js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static 'js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'js/plugins/nouislider.min.js' %}"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="{% static 'js/plugins/arrive.min.js' %}"></script>
  <!-- Chartist JS -->
  <script src="{% static 'js/plugins/chartist.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/material-dashboard.js?v=2.2.2' %}" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            if ($(".sidebar").length != 0) {
              var ps = new PerfectScrollbar('.sidebar');
            }
            if ($(".sidebar-wrapper").length != 0) {
              var ps1 = new PerfectScrollbar('.sidebar-wrapper');
            }
            if ($(".main-panel").length != 0) {
              var ps2 = new PerfectScrollbar('.main-panel');
            }
            if ($(".main").length != 0) {
              var ps3 = new PerfectScrollbar('main');
            }

          } else {

            if ($(".sidebar").length != 0) {
              var ps = new PerfectScrollbar('.sidebar');
              ps.destroy();
            }
            if ($(".sidebar-wrapper").length != 0) {
              var ps1 = new PerfectScrollbar('.sidebar-wrapper');
              ps1.destroy();
            }
            if ($(".main-panel").length != 0) {
              var ps2 = new PerfectScrollbar('.main-panel');
              ps2.destroy();
            }
            if ($(".main").length != 0) {
              var ps3 = new PerfectScrollbar('main');
              ps3.destroy();
            }


            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }
		  
          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
	  $(window).resize(function() {
		  setTimeout(function() {
			make_cards_equal_height();
		  }, 500);
	  });
	  $('.property_address_component_input').change(function() {
		  map_set();
	  });
	  $('.bootstrap-tagsinput .bmd-form-group input[type="text"]').attr('placeholder', 'Click to add');
	  make_cards_equal_height();
	});
	
	var map, map_markers = [];
	
	function map_init() {
		var loc = new google.maps.LatLng(0, 0);
		map = new google.maps.Map(document.getElementById('google_view'), {
			center: loc,
			zoom: 9,
			scrollwheel: false
		});
	}

updateList = function() {
    var input = document.getElementById('file');
    var output = document.getElementById('fileList');
    var children = "";
    for (var i = 0; i < input.files.length; ++i) {
        children += '<li>' + input.files.item(i).name + '</li>';
    }
    output.innerHTML = '<ul>'+children+'</ul>';
}

Dropzone.autoDiscover = false;
      var drop = document.getElementById('dropzone')
      var myDropzone = new Dropzone(drop, {
        url: "/file/post",
        addRemoveLinks: true

      });
	
	function map_remove_markers() {
		for(var i = 0; i < map_markers.length; i++) {
			map_markers[i].setMap(null);
		}
		map_markers = [];
	}
	
	function map_set() {
		var address = '';
		if($.trim($('[name="address1"]').val()).length > 0) {
			address += $.trim($('[name="address1"]').val());
		}
		if($.trim($('[name="city"]').val()).length > 0) {
			if(address.length > 0) {
				address += ', ';
			}
			address += $.trim($('[name="city"]').val());
		}
		if($.trim($('[name="zip_code"]').val()).length > 0) {
			if(address.length > 0) {
				address += ', ';
			}
			address += $.trim($('[name="zip_code"]').val());
		}
		if($.trim($('[name="state"]').val()).length > 0) {
			if(address.length > 0) {
				address += ', ';
			}
			address += $.trim($('[name="state"]').val());
		}
		if($.trim($('[name="country"]').val()).length > 0) {
			if(address.length > 0) {
				address += ', ';
			}
			address += $.trim($('[name="country"]').val());
		}
		map_remove_markers();
		if(address.length < 2) {
			return;
		}
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({'address': address}, function(results, status) {
			if(status == google.maps.GeocoderStatus.OK) {
				map.setCenter(results[0].geometry.location);
				var marker = new google.maps.Marker({
					map: map,
					position: results[0].geometry.location
				});
				marker.setMap(map);
				map_markers.push(marker)
			}
			// else {
			// 	 alert('Geocode was not successful for the following reason: ' + status);
			// }
		});
	}
	
	function make_cards_equal_height() {
		console.log('make_cards_equal_height() called');
		var rows = $('.row');
		for(var i = 0; i < rows.length; i++) {
			var cards = $(rows[i]).find('> div .card-equal');
			for(var j = 0; j < cards.length; j++) {
				$(cards[j]).css('height', 'auto');
			}
			var cards_max_height = 0;
			for(var j = 0; j < cards.length; j++) {
				cards_max_height = Math.max(cards_max_height, $(cards[j]).height());
			}
			if(cards_max_height > 0) {
				for(var j = 0; j < cards.length; j++) {
					$(cards[j]).css('height', Math.round(cards_max_height)+'px');
				}
			}
		}
	}
  </script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV12FzKfwXe6uL6Pz_WiDWmeLWyU6FfPY&callback=map_init"></script>
  <!-- Datatables plugin -->
    <script>
    $(document).ready(function() {
      $('#datatables').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "",
          searchPlaceholder: "Search records",
        }
      });

      var table = $('#datatables').DataTable();

      // Edit record

      table.on('click', '.edit', function() {
        $tr = $(this).closest('tr');

        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        var data = table.row($tr).data();
        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      });

      // Delete a record

      table.on('click', '.remove', function(e) {
        $tr = $(this).closest('tr');

        if ($($tr).hasClass('child')) {
          $tr = $tr.prev('.parent');
        }

        table.row($tr).remove().draw();
        e.preventDefault();
      });

      //Like record

      table.on('click', '.like', function() {
        alert('You clicked on Like button');
      });
    });
	function table_cells_resize(table) {
		table = $(table);
		var percents = [3, 6, 15, 6, 12, 12, 12, 17, 17];
		var rows = $(table).find('tbody tr');
		for(var i = 0; i < rows.length; i++) {
			var cols = $(rows[i]).find('td');
			for(var j = 0; j < cols.length; j++) {
				if(j < percents.length) {
					$(cols[j]).css('width', Math.round($(table).width() * percents[j] / 100) + 'px');
					$(cols[j]).css('overflow', 'hidden');
					$(cols[j]).css('text-overflow', 'ellipsis');
				}
			}
		}
		add_tooltips(table);
	}
	function add_tooltips(table) {
		table = $(table);
		$(table).find('[data-toggle="tooltip"]').tooltip('dispose');
		var cols = $(table).find('td');
		for(var i = 0; i < cols.length; i++) {
			if(cols[i].offsetWidth < cols[i].scrollWidth) {
				$(cols[i]).attr('data-toggle', 'tooltip');
				$(cols[i]).attr('data-placement', 'top');
				$(cols[i]).attr('title', $.trim($(cols[i]).text()));
			}
		}
		$(table).find('[data-toggle="tooltip"]').tooltip();
	}
	table_cells_resize('#datatables');
	setTimeout(function() {table_cells_resize('#datatables');}, 500);
	$(window).resize(function() {table_cells_resize('#datatables');});
  </script>

<!--  Form validation script-->
  <script>
    function setFormValidation(id) {
      $(id).validate({
        highlight: function(element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
          $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
        },
        success: function(element) {
          $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
          $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
        },
        errorPlacement: function(error, element) {
          $(element).closest('.form-group').append(error);
        },
      });
    }

    $(document).ready(function() {
      setFormValidation('#RegisterValidation');
      setFormValidation('#TypeValidation');
      setFormValidation('#LoginValidation');
      setFormValidation('#RangeValidation');
    });
  </script>

</body>

</html>