{% extends "base.html" %}

{% block content %}
  {{ block.super }}
          <form method="POST" enctype="multipart/form-data" id="TypeValidation" >
            {% csrf_token %}

            {% comment %} First Row {% endcomment %}
            <div class="row">

              {% comment %} Contacts Card {% endcomment %}
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                    <div class="card-text">
                      <h4 class="card-title">Contacts</h4>
                    </div>
                  </div>
                  <div class="card-body form-group form-inline">
                    <label for="agent_select">Agent:</label>
                    <select class="form-control selectpicker" name="agent" form="TypeValidation" data-style="btn btn-link" id="agent_select">
                      {% for agent in agents_list %}
                        <option value="{{ agent.pk }}">{{ agent }}</option>
                      {% endfor %}
                    </select>
                    <label for="agent_select">Customer:</label>
                    <select class="form-control selectpicker" name="customer" form="TypeValidation" data-style="btn btn-link" id="customer_select">
                      {% for customer in customers_list %}
                        <option value="{{ customer.pk }}">{{ customer }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              {% comment %} Agent Notes Card {% endcomment %}
              <div class="colmd-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                    <div class="card-text">
                      <h4 class="card-title">Agent Notes</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group form-inline">
                      <div class="col">
                        <textarea class="form-control" style="width: 30rem;" rows="6" name="agent_notes" placeholder="Add notes here..."></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% comment %} Second Row {% endcomment %}
            <div class="row">

              {% comment %} Property Card {% endcomment %}
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                    <div class="card-text">
                      <h4 class="card-title">Property</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">MLS ID:&nbsp;</span><input type="text" class="form-control" name="mls_id" number="true" required/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pl-0">Listing URL:&nbsp;</span><input type="text" class="form-control" name="listing_url" url="true"/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Address 1:&nbsp;</span><input type="text" class="form-control property_address_component_input" name="address1" /></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Address 2:&nbsp;</span><input type="text" class="form-control" name="address2" /></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">City:&nbsp;</span><input type="text" class="form-control property_address_component_input" name="city" /></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">State:&nbsp;</span><input type="text" class="form-control property_address_component_input" name="state" /></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">ZIP:&nbsp;</span><input type="text" class="form-control property_address_component_input" name="zip_code" /></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Country:&nbsp;</span><input type="text" class="form-control property_address_component_input" name="country" value="USA"/></label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              {% comment %} Provisions Card {% endcomment %}
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Documents</h4>
                  </div>
                  </div>
                  <div class="card-body">
                  <div class="card">

                   <input type="file" multiple
                          name="property_files"
                          id="file"
                          onchange="javascript:updateList()" />
                      <p>Selected files:</p>
                      <div class="form-check pull-right">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="True" name="shared_status"/>
                            Shared
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                      </div>
                  <div id="fileList"></div>

<!--                    <label for="files">Select files:</label>-->
<!--                    <input type="file" id="files" name="files" multiple><br><br>-->
                </div>
              </div>
            </div>
            </div>
            {% comment %} <input type="submit" value="Save"> {% endcomment %}
            <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
{% endblock %}