{% extends "base.html" %}

{% block content %}
  {{ block.super }}
            <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">people</i>
                  </div>
                    {% if user.user_type == 'agent' %}
                  <h4 class="card-title">CUSTOMERS</h4>
                    {% else %}
                    <h4 class="card-title">AGENTS</h4>
                    {% endif %}
                </div>
                  <div class="material-datatables">
                    <table id="datatables" class="table-show-readmore compact hover row-border stripe" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                            <th>Username</th>
                            <th style="width: 150px;">First Name</th>
                            <th style="width: 80px;">Last Name</th>
                            <th>Phone</th>
                            <th>Number Of Orders</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% comment %} Add Loop Here {% endcomment %}
                        {% for customer in customer_or_agent %}
                          <tr>
                              <td>{{customer.username}}</td>
                              <td>{{customer.first_name}}</td>
                              <td>{{customer.last_name}}</td>
                              <td>{{customer.phone}}</td>
                              <td>{{customer.count}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
            </div>
{% endblock %}
