{% extends "base.html" %}

{% block content %}
  {{ block.super }}
          <form method="" action="">
<!--            <input type="submit" value="Save">-->
            <div class="row">
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Agent</h4>
                  </div>
                  </div>
                  <div class="card-body form-inline">
                    <div class="form-row">
                    <div class="col-6">
                      <label><span class="pr-0">Brokerage:&nbsp;</span><input type="text" class="form-control" value="{{order.agent.brokerage.name}}" disabled/></label>
                    </div>
                    <div class="col-6">
                      <label><span class="pl-0">Phone:&nbsp;</span><input type="text" class="form-control" value="{{order.agent.phone}}" disabled/></label>
                    </div>
                    </div>
                    <div class="form-row">
                    <div class="col-6">
                      <label><span class="pr-0">Realtor ID:&nbsp;</span><input type="text" class="form-control" value="{{order.agent.brokerage.realtor_id}}" disabled/></label>
                    </div>
                    <div class="col-6">
                      <label><span class="pl-0">Email:&nbsp;</span><input type="email" class="form-control" value="{{order.agent.email}}" disabled/></label>
                    </div>
                    </div>
                    <div class="form-row">
                    <div class="col">
                      <label><span class="pr-0">Company Name:&nbsp;</span><input type="text" class="form-control" value="{{order.agent.brokerage.company}}"  disabled/></label>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Customer</h4>
                  </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Name:&nbsp;</span><input type="text" class="form-control" value="{{order.customer.first_name}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pl-0">Email:&nbsp;</span><input type="email" class="form-control" value="{{order.customer.email}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pl-0">Phone:&nbsp;</span><input type="text" class="form-control" value="{{order.customer.phone}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Property</h4>
                  </div>
                  </div>
                  <div class="card-body">
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">MLS ID:&nbsp;</span><input type="text" class="form-control" value="{{order.mls_id}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pl-0">MLS URL:&nbsp;</span><input type="text" class="form-control" value="{{order.listing_url}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Address 1:&nbsp;</span><input type="text" class="form-control property_address_component_input" value="{{order.address1}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Address 2:&nbsp;</span><input type="text" class="form-control" value="{{order.address2}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">City:&nbsp;</span><input type="text" class="form-control property_address_component_input" value="{{order.city}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">State:&nbsp;</span><input type="text" class="form-control property_address_component_input" value="{{order.state}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">ZIP:&nbsp;</span><input type="text" class="form-control property_address_component_input" value="{{order.zip_code}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                    <div class="form-group form-inline">
                      <div class="form-row">
                      <div class="col">
                        <label><span class="pr-0">Country:&nbsp;</span><input type="text" class="form-control property_address_component_input" value="{{order.country}}" disabled/></label>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Status</h4>
                  </div>
                  </div>
                  <div class="card-body">

                    <ul class="timeline">
                    <li class="timeline-inverted">
                      <div class="timeline-badge info">
                        <i class="material-icons">card_travel</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="badge badge-pill badge-info">Down Payment</span>
                        </div>
                        <div class="timeline-body">
                          <p>Down Payment</p>
                        </div>
                        <h6>
                          <i class="ti-time"></i> 11 hours ago
                        </h6>
                      </div>
                    </li>
                    <li>
                      <div class="timeline-badge primary">
                        <i class="material-icons">extension</i>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <span class="badge badge-pill badge-primary">Escrow</span>
                        </div>
                        <div class="timeline-body">
                          <p>Escrow</p>
                        </div>
                        <h6>
                          <i class="ti-time"></i> Today
                        </h6>
                      </div>
                    </li>
                  </ul>
                  <div class="form-group form-inline">
                    <div class="form-row">
                    <div class="col">
                      <button type="button" class="btn btn-success btn">Pay</button>
                    </div>
                    </div>
                  </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-equal">
                <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                  <h4 class="card-title">Google View</h4>
                  </div>
                </div>
                <div class="card-body ">
                  <div id="google_view" class="map"></div>
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Provisions</h4>
                  </div>
                  </div>
                  <div class="card-body">
                    <div class="col">
                      <h4 class="card-header">Order Qr Code</h4>
                        <img src="{{order.qr_code}}" alt="qr_code">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-equal">
                <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                  <h4 class="card-title">Notes</h4>
                  </div>
                </div>
                <div class="card-body ">
                  <textarea style="width: 100%; height: 280px !important;" readonly>{{order.agent_notes}}</textarea>
                </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-equal">
                  <div class="card-header card-header-text card-header-success">
                  <div class="card-text">
                    <h4 class="card-title">Documents</h4>
                  </div>
                  </div>
                  <div class="card-body">
                    <ul>
                      {% for document in documents %}
                      <a href="{{document.document_file.url}}" target="_blank"><li>{{document}}</li></a>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
{% endblock %}
