{% extends "base.html" %}

{% block content %}
  {{ block.super }}
        <div class="container-fluid">
          <form method="POST" enctype="multipart/form-data" action="{% url 'agent_profile_edited' pk=user.uuid %}">
<!--          <form method="POST" action="{% url 'agent_profile_edited' pk=user.uuid %}">-->
            {% csrf_token %}

            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-profile">
                  <div class="card-avatar">
                    {% if user.profile_photo %}
                    <img class="img" src="{{user.profile_photo.url}}" alt="Profile Picture" />
                    {% else %}
                    <img src="../../assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <h5 class="card-category text-gray">{{user.first_name}}  {{user.last_name}}</h5>
                    <h4 class="card-title">About Me</h4>
                    <textarea style="width: 75%; height: 70px !important;" name="bio">{{user.bio}}</textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
            <div class="col">
              <div class="card">
              <div class="card-header card-header-icon card-header-success">
                <div class="card-icon">
                <i class="material-icons">perm_identity</i>
                </div>
                <h4 class="card-title">Edit Profile -
                <small class="category">Complete your profile</small>
                </h4>
              </div>

                <br>
                {% if messages %}
                  {% for message in messages %}
                  <h4 class="text-success text-center">{{message}}</h4>
                  {% endfor %}
                {% endif %}
                <br>

              <div class="card-body">
                <div class="row">						
                  <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Company</label>
                    <input type="text" class="form-control" value="{{user.company}}" name="company" />
                  </div>
                  </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input type="text" class="form-control" value="{{user.first_name}}" name="first_name" />
                  </div>
                  </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" />
                  </div>
                  </div>
                  <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <input type="email" class="form-control" value="{{user.email}}" name="email" />
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Realtor ID</label>
                    <input type="text" class="form-control" value="{{user.realtor_id}}" name="realtor_id" />
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Country</label>
                      <input type="text" class="form-control" value="{{user.country}}" name="country"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Brokerage</label>
                    <input type="text" class="form-control" value="{{user.brokerage.name}}" name="brokerage" disabled/>
                  </div>
                  </div>
                  <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Certifications</label>
                    <input type="text" class="form-control" value="{{user.certifications}}" name="certifications" />
                  </div>
                  </div>
                  <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone</label>
                    <input type="text" class="form-control" value="{{user.phone}}" name="phone" />
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Brokerage Address</label>
                    <input type="text" class="form-control" value="{{user.brokerage.address1}}" name="address1" disabled/>
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                    <div>
                      <span class="btn btn-raised btn-round btn-default btn-file">
                        <span class="fileinput-new">Profile Picture Upload</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="profile_photo" />
                      </span>
                      <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ml-auto">
                  <button type="submit" class="btn btn-success pull-right">Update Profile</button>
                </div>
                <div class="clearfix"></div>
              </div>
              </div>
            </div>
            </div>
          </form>
          </div>
{% endblock %}
